@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
* {
    font-family: 'Playfair Display', serif;
}

.custom-header-image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(211, 228, 117), rgb(110, 188, 240));
    /* url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
}
.custom-nav {
    padding-left: 10px;
}
.custom-footer {
    background-color: #111;   
}
h1 {
    color: #fff;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.p-jumbo {
    color: #fff;
}
.custom-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
}
.custom-container{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.custom-padding {
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 10px;
}
.custom-btn {
    border: none;
    border-radius: 10%;
    background-color: rgb(228, 243, 145);
}
.card-header  {
    background-color:transparent;
}
img {
    height: auto;
    width: auto;
}
.project-btn {
    border: none;
    background-color: rgb(153, 231, 241);
    opacity: 0.6;
    border-radius: 30%;
}
.card {
    border: none !important;
}
.custom-card {
    display: flex !important;
    flex-direction: row !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: .25rem !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
}
.custom-card-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: none !important;
    text-align: center !important;
}


.custom-form {
  padding-left: 10px;
  padding-right: 10px;
}
.custom-social-card {
    
}
.custom-resume-card {
    padding-top: 10px;
}
.custom-projects-card {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
} 

.sr-only {
    color: #111;
}