@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
* {
    font-family: 'Playfair Display', serif;
}
/* 
body {
    padding: 10px;

} */

.custom-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(var(--red), rgb(41, 136, 224), rgb(178, 212, 55));
    height: 30vh;
    height: 300px;
    padding: 10px;
}

.custom-form {
   padding: 10px;
}

.custom-card-greeting {
    padding: 10px;
}

.custom-social-card {
    padding: 10px;
}

.custom-resume-card {
    padding: 10px;
}

.custom-btn {
    border: none;
    border-radius: 10%;
    background-color: rgb(228, 243, 145);
}

.custome-projects-card {
    padding: 10px;
}